
/*.container{
    height: 500px;
    background-color: orange;
  }*/

  #header {
    top: 0;
    background-color: #4267b2;
    height: 40px;
}
.footer {
  //background-color: rgba(0,0,0,0.87);
  height: 20px;
}
#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

#main,
#menu,
#sidebar {

  height: 600px;
}

#main {
   /*background-color: orange;*/
   overflow: auto;
   overflow-x: hidden;
  }
  #main::-webkit-scrollbar {
      display: none;
  }

/*#menu { background-color: pink; }*/

#sidebar {

   background-color: yellow; }
#main,
#menu,
#sidebar {
  background-color: #dbdbdb;#header .dropdown a {
      color: black;
  }
}
.navbar-default .navbar-brand {
    color: white;
}
#header .navbar-brand {
    color: white;
}
#header a {
    color: white;
}
#header .dropdown li > a {
    color: black;
}
/*.glyphicon
{
  color:navy;

}*/
.list-heading {
    padding: 20px 15px 0 15px;
}
.panel-body .glyphicon
{
  color: #20b2aa;
  margin-left:20px;

}
.navbar .glyphicon
{
  position: relative;
  font-size: 16px;
}

.image-post {
    margin-bottom: 15px;
}
.nav-stacked a
{
  margin:6px;
  color:black;
}
/*.nav-stacked span
{
  margin-right:5px;
}*/
.navbar .badge{
  position: absolute;
  background: red !important;
  color:white !important;
  margin-top:-30px;
  margin-left:10px !important;
  height:17px;
}
.nav-stacked .badge{
  background:none !important;
  color:black !important;
}
.dp{
  margin-top:6px;
  border:1px solid;
}
.navbar .form-group
{
  width:500px;
}
#navbar img
{
  padding: 0;
}
.comment {
    margin: 0;
}
.input-group-btn .glyphicon-search
{
  font-size: 16px !important;
}

.inp
{
  border:none;
}
.phead
{
  padding-right: 11px;
  border-right: 1px solid !important;
}

#go .panel-body {
  padding:1px;
  background-color:#e9ebee;
}
#ticker .panel-body{
    background-color:#e9ebee;
}
#gift{
  color:orange;
}

#sidebar{
  overflow:auto;
}
#sidebar .glyphicon
{
  font-size:12px;
}
#sidebar::-webkit-scrollbar {
    display: none;
  }
.copyrights
{
  margin-top:8px;
}
@media(max-width: 1200px)
{
  .input-group
  {
    width:80% !important;
  }
}
input.form-control{
  height:28px;


}
#bs-example-navbar-collapse-1 .btn{
  height: 27px;
  padding-top: 12px;

}
#header #bs-example-navbar-collapse-1 .btn-group{
  margin-top:5px;
}
#bs-example-navbar-collapse-1 .input-group-btn .glyphicon {
  top:-7px;
}
